<article class="gift-card slug">
    <div class="wrapper-img-bookmark" style="view-transition-name: gift-{{ gift.id }};">
        {% if gift.img %}
            <picture>
                <source type="image/avif" srcset="https://fdnd-agency.directus.app/assets/{{ gift.img.id }}?format=avif&width=200&height=200">
                <source type="image/webp" srcset="https://fdnd-agency.directus.app/assets/{{ gift.img.id }}?format=webp&width=200&height=200">
                <img class="img-gift" loading="lazy" src="https://fdnd-agency.directus.app/assets/{{ gift.img.id }}" width="200" height="200" alt="{{ gift.name }}">
            </picture>
        {% else %}
            <picture>
                <source type="image/avif" srcset="/assets/landscape-placeholder-svgrepo-com.avif">
                <source type="image/webp" srcset="/assets/landscape-placeholder-svgrepo-com.webp">
                <img class="product-img" src="/assets/landscape-placeholder-svgrepo-com.svg" width="200" height="200" alt="geen afbeelding gevonden">
            </picture>
        {% endif %}


        <form method="post" action="/{{ gift.id}}" data-enhanced="form-{{ gift.id }}" class="bookmark-form">
            {% if bookmarks contains gift.id %}
                <button class="bookmark-icon" aria-label="verwijder uit bookmarks lijst">
                    <svg class="bookmark-img" role="img" aria-label="opgeslagen" width="33" height="29" viewBox="0 0 38 27" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M19.063 6.35938C19.9689 6.35938 20.7036 7.09409 20.7036 8C20.7036 8.90591 19.9689 9.64062 19.063 9.64062H3.06299C2.15708 9.64062 1.42236 8.90591 1.42236 8C1.42236 7.09409 2.15708 6.35938 3.06299 6.35938H19.063Z" fill="#212121" stroke="#212121" stroke-width="1.28058" /> <path d="M25.063 14.3594C25.9689 14.3594 26.7036 15.0941 26.7036 16C26.7036 16.9059 25.9689 17.6406 25.063 17.6406H3.06299C2.15708 17.6406 1.42236 16.9059 1.42236 16C1.42236 15.0941 2.15708 14.3594 3.06299 14.3594H25.063Z" fill="#212121" stroke="#212121" stroke-width="1.28058" /> <path d="M12.063 22.3594C12.9689 22.3594 13.7036 23.0941 13.7036 24C13.7036 24.9059 12.9689 25.6406 12.063 25.6406H3.06299C2.15708 25.6406 1.42236 24.9059 1.42236 24C1.42236 23.0941 2.15708 22.3594 3.06299 22.3594H12.063Z" fill="#212121" stroke="#212121" stroke-width="1.28058" /> <path class="check-2" d="M25 6.58621L28.3981 10.1897C28.8061 10.6224 29.4994 10.6055 29.8858 10.1534L36 3" stroke="black" stroke-width="3" stroke-linecap="round" /> <path class='plus-2' d="M30.25 3V12" stroke="black" stroke-width="4.5" stroke-linecap="round" /> <path class='plus-2' d="M25 7.5H35.5" stroke="black" stroke-width="4.5" stroke-linecap="round" /> </svg>
                </button>
                <div class="bookmark-loader" hidden></div>
            {% else %}
                <button class="bookmark-icon" aria-label="voeg toe aan bookmarks lijst">
                    <svg class="bookmark-img" role="img" aria-label="niet opgeslagen" width="33" height="29" viewBox="0 0 38 27" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M19.063 6.35938C19.9689 6.35938 20.7036 7.09409 20.7036 8C20.7036 8.90591 19.9689 9.64062 19.063 9.64062H3.06299C2.15708 9.64062 1.42236 8.90591 1.42236 8C1.42236 7.09409 2.15708 6.35938 3.06299 6.35938H19.063Z" fill="#212121" stroke="#212121" stroke-width="1.28058" /> <path d="M25.063 14.3594C25.9689 14.3594 26.7036 15.0941 26.7036 16C26.7036 16.9059 25.9689 17.6406 25.063 17.6406H3.06299C2.15708 17.6406 1.42236 16.9059 1.42236 16C1.42236 15.0941 2.15708 14.3594 3.06299 14.3594H25.063Z" fill="#212121" stroke="#212121" stroke-width="1.28058" /> <path d="M12.063 22.3594C12.9689 22.3594 13.7036 23.0941 13.7036 24C13.7036 24.9059 12.9689 25.6406 12.063 25.6406H3.06299C2.15708 25.6406 1.42236 24.9059 1.42236 24C1.42236 23.0941 2.15708 22.3594 3.06299 22.3594H12.063Z" fill="#212121" stroke="#212121" stroke-width="1.28058" /> <path class="check" d="M25 6.58621L28.3981 10.1897C28.8061 10.6224 29.4994 10.6055 29.8858 10.1534L36 3" stroke="black" stroke-width="3" stroke-linecap="round" /> <path class='plus' d="M30.25 3V12" stroke="black" stroke-width="4.5" stroke-linecap="round" /> <path class='plus' d="M25 7.5H35.5" stroke="black" stroke-width="4.5" stroke-linecap="round" /> </svg>
                </button>
                <div class="bookmark-loader" hidden></div>
            {% endif %}
        </form>
    </div>

    <h3 class="gift-name">
        <a class="slug" href="/cadeau/{{ gift.slug | url_encode }}">{{ gift.name }}</a>
    </h3>
    <div class="container-saved-given">
        <div class="container-gift-extra">
            <picture>
                <source type="image/webp" srcset="/assets/spotters-card.webp">
                <img class="img-saved" src="/assets/spotters-card.svg" width="60" height="40" alt="spotters">
            </picture>
            <span class="gift-saved">+30 saved</span>
        </div>
        <div class="container-gift-extra">
            <picture>
                <source type="image/avif" srcset="/assets/cadeau.avif">
                <source type="image/webp" srcset="/assets/cadeau.webp">
                <img class="img-given" src="/assets/cadeau.svg" width="40" height="30" alt="cadeau">
            </picture>
            <span class="gift-given">+4 given</span>
        </div>
    </div>
</article>