{% render 'partials/head.liquid'
  , title: gift.name %}

<main class="detail-page">

  <section class="detail-layout">

    <h2 class="detail-title">{{ gift[0].name }}</h2>

    <picture>
      <img
        src="https://fdnd-agency.directus.app/assets/{{ gift[0].img.id }}"
        alt="{{ gift[0].name }}"
        class="detail-image">
    </picture>


    <div class="detail-info">
      <h2 class="detail-title-desktop">{{ gift[0].name }}</h2>

      <p class="detail-price">€{{ gift[0].amount }}</p>
      <p class="detail-description">{{ gift[0].description }}</p>
    </div>
  </section>

</main>

{% render 'partials/footer.liquid' %}